.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}

#tentang {
  overflow: hidden;
}

#project {
  overflow: hidden;
}

#sosmed {
  overflow: hidden;
}

#project {
  background-color: #e2edff;
  overflow: hidden;
}

#kontak {
  background-color: #e2edff;
  overflow: hidden;
}

section {
  padding-top: 4rem;
}
